body {
    margin: 0%;
    box-sizing: border-box;
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
}

.points-container {
    margin-top: 3%;
}

.game-start-container {
    border-radius: 50px;
    margin: 10% 15% 0% 15%;
    height: 70vh;
    background-color: transparent;
}

.game-container {
    background-color: transparent;
    border-radius: 50px;
    margin: 10% 15% 0% 15%;
    height: 500px;
}

.dankmemer-logo {
    margin-top: 5%;
    width: 15vw;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 10%;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    color: black;
    cursor: pointer;
    box-shadow: #404040 0px 7px;
    transition: transform 100ms, box-shadow 100ms, background-color 100ms;
}

.btn:hover {
    background-color: #E4E6EB;
}

.btn:active {
    transform: translateY(4px);
    box-shadow: #404040 0px 3px;
}

.btn-start {
    padding: 40px 80px 40px 80px;
}

.question-container {
    text-align: center;
    margin: 5% 10% 2% 10%;
}

.logic-container {
    text-align: center;
    margin: 5% 10% 2% 10%;
    background-color: #404040;
    border-radius: 20px;
    border-left: 10px solid;
}

.color, .word {
    display: inline-block;
    text-align: left;
    padding: 5px 1% 5px 1%;
    margin: 1%;
    clear: both;
    width: 20px;
    color: white;
}

.answer-container {
    margin: 0% 10% 5% 10%;
    text-align: center;
}

.btn-submit {
    margin: 20px;
}

.user-answer {
    background-color: #404040;
    border: none;
    border-radius: 6px;
    width: 200px;
    padding: 10px 10px 10px 30px;
    outline: none;
    color: white;
    transition: border-bottom-color 500ms;
}

.user-answer:hover {
    border-bottom-color: white;
}

.solution, .result {
    color: white;
}

.information-about {
    background-color: white;
    right: 40%;
    border: solid;
    border-radius: 20px;
    padding: 30px;
}

.information-how-to-play {
    background-color: white;
    left: 40%;
    border: solid;
    border-radius: 20px;
    padding: 50px;
}

.btn-info {
    border: none;
    background-color: transparent;
    color: white;
    padding: 15px;
    margin-top: 2%;
    transition: text-decoration 500ms;
}

.btn-info:hover {
    text-decoration: 2px underline grey;
    text-underline-offset: 3px;
}